*.txt
*.png
*.zip
*.csv
train_log
trained_csv
valid_csv
trained_model
synthetic_data
trash
trendGraph
cumulativeGraph
profitGraph
StockMarketVisualizer
synthetic_data_origin
synthetic_data_before_exe34
*.joblib
synthetic_data_dailyMethod
synthetic_data_dailyMethod_copy
*.pth
train_log_no2024